header{
    height: 12.5rem;

    display: grid;
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-columns: 1fr;
}



.Australian{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

}

.x{
    width: 35%;
    text-align: center;
    margin-right: 2rem;
}

header .region{
    width: 9.7rem;
    height: 2rem;
    border: 1.5px solid gray;
    border-radius: 5px;

    display: flex;
    align-items: center;
    padding-left: 5px;
}

header .pIconos{
    height: 0.5rem;
    grid-row: 2/3;
    margin-right: 3rem;


    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.iconSearch{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.iconos{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pIconos span{
    font-size: 1.2rem;
}

/* EMPLOYMENT */
.empHero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.empHero h2{
    font-weight: 100;
    font-size: 1rem;
}

.empHero img{
    height: 2rem;
    width: 2rem;
}


/* MENU */

.pMenu{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: space-evenly;
    gap: 2rem;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    gap: 1rem;
}

.botMenu{
    display: flex;
    align-items: center;
}

a{
    /* font-size: 0.8rem; */
    text-decoration: none;
    color: #171214;
    font-weight: bold;
}

/* BOTONES */


.pDosBot{
    display: flex;
    gap: 1rem;
}

.dosBot{

    padding: 1rem;
    height: 2.5rem;
    border: 2px solid #171214;
    border-radius: 20px;
    font-size: 0.9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.purple{
    background-color: #7622D7;
    color: aliceblue;
    padding: 1rem;
    height: 2.5rem;
    border-radius: 20px;
    font-size: 0.9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

